[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
